<!DOCTYPE html>
<html lang="ch">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Styles.Url("~/Content/css/bootstrap.css")" rel="stylesheet"/>
    <link href="@Styles.Url("~/Content/css/bootstrap-responsive.css")" rel="stylesheet"/>
    <link href="@Styles.Url("~/Content/site.css")" rel="stylesheet"/>
    <link href="@Styles.Url("~/Content/searchbox.css")" rel="stylesheet"/>
    <link href="@Styles.Url("~/Content/searchresult.css")" rel="stylesheet"/>
    <script type="text/javascript" src="@Scripts.Url("~/script/js/jquery-1.9.1.min.js")"></script>
    @Scripts.Render("~/Scripts/bootstrap")
    <title>EP</title>
</head>
<body>
    <div class="container head">
        @RenderSection("head")
    </div>
    @RenderSection("searchbox", false)
    <div class="body container">
        @RenderBody()
    </div>
    <img src="@Url.Content("~/Images/bottomBg.png")" />
</body>
</html>
