@model  EPManageWeb.Entities.Models.ClothesType
@{
    ViewBag.Title = "EP基样检索库";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section head{
    <link href="@Styles.Url("~/Content/addClothes.css")" rel="stylesheet"/>
    <link href="@Styles.Url("~/Content/jquery.multiselect.css")" rel="stylesheet"/>
}
@section searchbox{@{Html.RenderPartial("_searchbox");}}
@section Js
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/ajaxupload.3.6.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-jtemplates.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.multiselect.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/main.js")"></script>
}
<div class="searchResult">
    <div id="container"></div>
    <div class="clearfix"></div>
    <img src="@Url.Content("~/Images/bottomBg.png")" />
</div>
<!-- Modal -->
<div id="myModal" class="width1000Modal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">款式信息</h3>
    </div>
    <div class="modal-body" id="divAddClothes">
    </div>
    <div class="modal-footer">
        <input type="hidden" name="clothesTypeId" id="clothesTypeId" value="@Model.Id" />
        <button class="btn" id="btnClose" data-dismiss="modal" aria-hidden="true">关闭</button>
        @Html.ActionLink("保存", "Add", null, new { @class = "btn btn-primary", id = "btnAddClothes" })
    </div>
</div>

<div id="viewPicsModal" class="width1000Modal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="viewPicsModalLabel">图片预览</h3>
    </div>
    <div class="modal-body" id="viewPicsModalBody">
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>
