<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="@Styles.Url("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet"/>
    <link href="@Styles.Url("~/Content/bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet"/>
    <link href="@Styles.Url("~/Content/themes/base/jquery-ui.css")" rel="stylesheet"/>
    <link href="@Styles.Url("~/Content/site.css")" rel="stylesheet"/>
    <link href="@Styles.Url("~/Content/searchbox.css")" rel="stylesheet"/>
    <link href="@Styles.Url("~/Content/searchresult.css")" rel="stylesheet"/>
    <link href="@Styles.Url("~/Content/sortable.css")" rel="stylesheet"/>
    
</head>
<body>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @RenderSection("Js",false)
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
</body>
</html>
